<nav class="navbar navbar-light navbar-expand-md sticky-top bg-light navigation-clean-button" style="color:rgb(0,0,0);background-color:rgb(252,252,252);">
  <div class="container"><a class="navbar-brand d-inline-block" href="#">Alaya Digital Solutions<p class="lead text-info" style="font-size:17px;"><em>Plataforma de innovación</em></p></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse float-none" id="navcol-1">
      <ul class="nav navbar-nav mr-auto"></ul>
      <span class="navbar-text actions">
        <a href="/logout" class="login">Salir</a>
        <a *ngIf="logged; else log" class="btn btn-light action-button" role="button" href="#">Bienvenido {{username}}</a>
        <ng-template #log>
          <a class="btn btn-light action-button" role="button" href="/login">Ingresar</a>
        </ng-template>
      </span>
    </div>
  </div>
</nav>
