<div class="row">
  <div class="col-12 padMar colorCajasSecundarioClaro">
    <div class="container">
      <h1>Administracion</h1>
      <p>Lista de usuarios para la asignación de roles.</p>
      
        <div class="panel panel-default panel-table">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <table class="table table-striped table-bordered table-list">
              <thead>
                <tr>
                  <th class="hidden-xs">Usuario</th>
                  <th>Cargo en la empresa</th>
                  <th>Rol</th>
                  <th>Privilegios</th>
                </tr> 
              </thead>
              <tbody>
                <tr>
                  <td class="hidden-xs">Jorge Plaza</td>
                  <td>Empleado</td>
                  <td>Ninguno</td>
                  <td align="center">
                  <button class="btn btn-primary">Otorgar Evaluador</button>
                  </td>
                </tr>
                <tr>
                  <td class="hidden-xs">Ricardo Alvarez</td>
                  <td>Ingeniero en requisitos</td>
                  <td>Ninguno</td>
                  <td align="center">
                  <button class="btn btn-primary">Otorgar Evaluador</button>
                  </td>
                </tr>
                <tr>
                  <td class="hidden-xs">Vicente Rivera</td>
                  <td>Gestor de proyectos</td>
                  <td>Evaluador</td>
                  <td align="center">
                  <button class="btn btn-danger">Revocar Evaluador</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <ul class="pagination hidden-xs pull-right">
              <li><a href="#">«</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">»</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
