
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                      <br>
                      <br>
                        <h2 class="text-center margin-top: 15px;">{{titulo}}</h2>
                        <p class="text-center"><span class="by">Creado por&nbsp;<a href="#">{{autor}}</a></span><span class="by"></span><a href="#"></a> <span class="date">{{fecha_creacion}}</span></p>
                    </div>
                    <br>
                    <h5> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh_EHbWnjzJ6aigMD_SnhrNt8r3l6AdfSxp5itJflSwGN9sbBjgA" align="right">Problema</h5>
                    <div class="text">
                        <p>{{problema}}</p>
                        <h5>Objetivos</h5>
                        <p>{{objetivos}}</p>
                        <h5>Especificación del reto</h5>
                        <dt>{{contenido}}</dt>
                        <br>
                        <dl>
                          <dt>Plazo del reto</dt>
                            <dd>{{plazo}}</dd>
                          <br>
                          <dt>Beneficios</dt>
                            <dd>{{beneficios}}</dd>
                          <br>
                        </dl>
                    </div>
                    <p align="center"><button class="btn btn-primary" type="button" data-target="#modal1" data-toggle="modal">Publicar una idea</button></p>
                    <a href="/retos" class="btn btn-info">Volver a retos</a>
                    <app-crear-idea [id_reto]="id_reto"></app-crear-idea>
                </div>
          </div>
        </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Hoy<span class="badge badge-pill badge-primary">5</span></a></li>
                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Este mes<span class="badge badge-pill badge-primary">20</span></a></li>
                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Más votados</a></li>
                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-4">Todos<span class="badge badge-pill badge-primary">42</span></a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="tab-1">
                  <div class="thread-list-head">
                    <nav class="thread-pages">
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link">1</a></li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item"><a class="page-link">4</a></li>
                        <li class="page-item"><a class="page-link">5</a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                      </ul>
                    </nav>
                  </div>
                  <div *ngIf="ideas">
                    <table class="table">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col">Autor</th>
                        <th scope="col">Idea</th>
                        <th scope="col">Fecha publicación</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let idea of ideas" class="thread-list">
                        <td [routerLink]="['/usuarios/', idea.autor]">{{idea.autor}}</td>
                        <td [routerLink]="['/ideas/', idea.id]" class="title"><strong>{{idea.titulo}}: </strong><span>{{idea.resumen}}</span></td>
                        <td class="time">{{idea.fecha_creacion}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-2"></div>
                <div class="tab-pane" role="tabpanel" id="tab-3"></div>
                <div class="tab-pane" role="tabpanel" id="tab-4"></div>
              </div>
            </div><i class="fa fa-search"></i><label>Busca una idea:</label>
            <form>
              <div class="form-group">
                <div class="input-group"><span class="input-group-addon"></span><input class="form-control" type="search" name="search" /></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

