<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vista reto</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Community-ChatComments.css">
    <link rel="stylesheet" href="assets/css/Dark-Footer-1.css">
    <link rel="stylesheet" href="assets/css/Dark-Footer-2.css">
    <link rel="stylesheet" href="assets/css/Dark-Footer-3.css">
    <link rel="stylesheet" href="assets/css/Dark-Footer.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/footer-ultimate.css">
    <link rel="stylesheet" href="assets/css/Forum---Thread-listing-1.css">
    <link rel="stylesheet" href="assets/css/Forum---Thread-listing.css">
    <link rel="stylesheet" href="assets/css/MUSA_panel-table-1.css">
    <link rel="stylesheet" href="assets/css/MUSA_panel-table.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Pretty-Table-1.css">
    <link rel="stylesheet" href="assets/css/Pretty-Table.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
    </div>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h2 class="text-center margin-top: 15px;">{{tituloInput}}</h2>
                        <p class="text-center"><span class="by">Creado por&nbsp;<a href="#">Nombre_usuario</a></span><span class="by"></span><a href="#"></a> <span class="date">Jueves 23 de agosto, 2018</span></p>
                    </div>
                    <h5>Problema</h5>
                    <div class="text">
                        <p>{{problema}}</p>
                        <h5>Objetivos</h5>
                        <p>{{objetivos}}</p>
                        <h5>Especificación del reto</h5>
                        <dt>{{contenido}}</dt>
                        <br>
                        <dl>
                          <dt>Restricciones</dt>
                            <dd>{{restricciones}}</dd>
                          <br>
                          <dt>Plazo del reto</dt>
                            <dd>{{plazo}}</dd>
                          <br>
                          <dt>Beneficios</dt>
                            <dd>{{contenido}}</dd>
                          <br>
                        </dl>
                    </div>
                        <figure></figure>
                    <button class="btn btn-primary" type="button" data-target="#modal1" data-toggle="modal">Publicar una idea</button>
                    <button class="btn btn-primary" type="button" data-target="#modal2" data-toggle="modal">Nueva version de un reto</button>
                    <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Publica una idea</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                <div class="modal-body"><label>Título de la idea:&nbsp;</label><input type="text" class="form-control"><label>Resumen breve de la idea:&nbsp;</label><textarea class="form-control"></textarea><label>Describe tu idea:&nbsp;</label><textarea class="form-control"></textarea></div>
                                <div
                                    class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
        </div>
    </div>
    <div class="footer-clean" style="color:rgb(6,6,6);background-color:#cccccc;">
        <footer style="color:rgb(0,0,0);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Innovación</a></li>
                            <li><a href="#">Desarrollo de aplicaciones</a></li>
                            <li><a href="#">Integración</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Sobre Alaya</h3>
                        <ul>
                            <li><a href="#">Casos de éxito</a></li>
                            <li><a href="#">Certificaciones</a></li>
                            <li>Alianzas</li>
                            <li><a href="#">Certificaciones</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Contacto</h3>
                        <ul>
                            <li><a href="#">Trabaja con nosotros</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a>
                        <p class="copyright">Alaya Digital Solutions© 2018</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
