<head>
<link rel="stylesheet" href="assets/css/Article-Cards.css">
<link rel="stylesheet" href="assets/css/Article-Clean.css">
</head>
<div *ngIf="retos">
<div class="article-clean">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="intro">
          <h2 class="text-center text-dark margin-top: 15px;">Retos de innovación</h2>
          <p class="lead text-center text-dark"><strong>Aquí se muestran todos los retos propuestos por Alaya</strong><a href="#"></a> </p>
        </div>

      </div>
      <div *ngFor="let reto of retos" routerLink="/retos/{{reto.id}}" class="col"><figure class="snip1253">
        <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52"/></div>
        <figcaption>
          <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
          <h3>{{reto.titulo}}</h3>
          <p>
            {{reto.contenido}}
          </p>
        </figcaption>
      </figure>
      </div>
      <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Crear un nuevo Reto</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body"><label class="input-group">Título del reto</label><input type="text" class="input-group"><label class="input-group">Breve resumen del reto:</label><textarea class="form-control"></textarea><label class="input-group">Problema / Situación actual:</label>
              <textarea
                class="form-control"></textarea><label class="input-group">Objetivo del reto / Situación deseada:</label><textarea class="form-control"></textarea><label class="input-group">Fecha límite del reto:</label><input type="text" class="input-group"></div>
            <div
              class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancelar</button><button class="btn btn-primary" type="button">Crear</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/crear-reto">Crear un reto (Sólo disponible para evaluadores)</a>
      </div>
      <div class="col-md-12"><i class="fa fa-search"></i><label>Busca un reto:</label>
        <form>
          <div class="form-group">
            <div class="input-group"><span class="input-group-addon"> </span><input class="form-control" type="search" name="search"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

