<form [formGroup]="formEdit">
  <div class="form-group">
    <label>Título:</label>
    <input formGroupName="titulo" type="text" class="form-control" value="{{titulo}}" />
  </div>
  <label>Resumen de la idea:</label>
  <textarea formGroupName="resumen" class="form-control" value="{{resumen}}">
  </textarea>
  <label>Idea:</label>
  <textarea formGroupName="contenido" class="form-control" value="{{contenido}}">
  </textarea>
  <h6>FormGroup Model (<code>formEdit.value</code>)</h6>
  <div><pre><code>{{ formEdit?.value | json }}</code></pre></div>
</form>
