<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Nueva versión de tu idea</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formEdit" (ngSubmit) = "update('usuario123', titulo, resumen, contenido)" >
      <div class="form-group">
        <label>Título:</label>
        <input formControlName="titulo" type="text" class="form-control" placeholder={{titulo}} />
      </div>
      <div>
        <label>Resumen de la idea:</label>
        <textarea formControlName="resumen" class="form-control" value="hola2"></textarea>
      </div>
      <div>
        <label>Idea:</label>
        <textarea formControlName="contenido" class="form-control" value="chao"></textarea>
      </div>
      <p>
        Se ingreso {{titulo}}, {{contenido}}
      </p>
      <h6>FormGroup Model (<code>formEdit.value</code>)</h6>
      <div><pre><code>{{ formEdit?.value | json }}</code></pre></div>
    </form>
  </div>
  <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
    <button class="btn btn-primary" type="button" style="background-color:rgb(6,153,215);">Guardar</button>
  </div>
</div>

