<link href="assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h2 class="text-center">{{titulo}}</h2>
                        <p class="text-center"><span class="by">Publicado por&nbsp;<a [routerLink]="['/usuarios/', autor]">{{autor}}</a></span><span class="by">&nbsp;en reto&nbsp;<a href="#">{{reto}}</a></span><span class="by"></span><a href="#"></a> <span class="date">En {{fecha_creacion}}</span></p>
                    </div>
                    <h5>Resumen idea</h5>
                    <div class="text">
                        <p>{{resumen}}</p>
                        <h5>Idea</h5>
                        <p>{{contenido}}</p>
                        <figure></figure>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
                        <div class="modal-dialog" role="document">
                          <app-idea-update-form [titulo]="titulo" [resumen]="resumen" [contenido]="contenido"></app-idea-update-form>
                        </div>
                    </div><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal1">Nueva versión</button>
                    <label>(Sólo disponible para el propietario de la idea)</label>
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">Comentarios</h6>
                        </div>
                        <div class="card-body" style="overflow:auto; height: 30%;">
                            <app-comentario [id_idea]='id_idea'></app-comentario>
                           <app-crear-comentario></app-crear-comentario>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Modal Title</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                <div class="modal-body">
                                    <p>The content of your modal.</p>
                                </div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                            </div>
                        </div>
                    </div>
                </div>
              <div class="row">
                <div class="col-lg-5 offset-lg-1 offset-xl-2">
                  <div class="rating-block">
                    <h4>Average user rating</h4>
                    <h2 class="bold padding-bottom-7">{{valProm}} <small>/ 5</small></h2>
                    <button (click)="valorar(1)" type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                    <button (click)="valorar(2)" type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                    <button (click)="valorar(3)"type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                    <button (click)="valorar(4)"type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                    <button (click)="valorar(5)"type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
                <div class="col-sm-3">
                  <h4>Rating breakdown</h4>
                  <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                      <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                      <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                          <span class="sr-only">80% Complete (danger)</span>
                        </div>
                      </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">1</div>
                  </div>
                  <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                      <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                      <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                          <span class="sr-only">80% Complete (danger)</span>
                        </div>
                      </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">1</div>
                  </div>
                  <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                      <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                      <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                          <span class="sr-only">80% Complete (danger)</span>
                        </div>
                      </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                  </div>
                  <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                      <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                      <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                          <span class="sr-only">80% Complete (danger)</span>
                        </div>
                      </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                  </div>
                  <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                      <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                      <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                          <span class="sr-only">80% Complete (danger)</span>
                        </div>
                      </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                  </div>
                </div>
              </div>
            </div>
    </div>
