<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vista idea</title>
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="../../../assets/css/Article-Clean.css">
    <link rel="stylesheet" href="../../../assets/css/Community-ChatComments.css">
    <link rel="stylesheet" href="../../../assets/css/Dark-Footer-1.css">
    <link rel="stylesheet" href="../../../assets/css/Dark-Footer-2.css">
    <link rel="stylesheet" href="../../../assets/css/Dark-Footer-3.css">
    <link rel="stylesheet" href="../../../assets/css/Dark-Footer.css">
    <link rel="stylesheet" href="../../../assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="../../../assets/css/footer-ultimate.css">
    <link rel="stylesheet" href="../../../assets/css/Forum---Thread-listing-1.css">
    <link rel="stylesheet" href="../../../assets/css/Forum---Thread-listing.css">
    <link rel="stylesheet" href="../../../assets/css/MUSA_panel-table-1.css">
    <link rel="stylesheet" href="../../../assets/css/MUSA_panel-table.css">
    <link rel="stylesheet" href="../../../assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../../../assets/css/Pretty-Table-1.css">
    <link rel="stylesheet" href="../../../assets/css/Pretty-Table.css">
    <link rel="stylesheet" href="../../../assets/css/styles.css">H
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top bg-light navigation-clean-button" style="color:rgb(0,0,0);background-color:rgb(252,252,252); padding-bottom: 0;">
            <div class="container"><a class="navbar-brand d-inline-block" href="#">Alaya Digital Solutions<p class="lead text-info" style="font-size:17px;"><em>Plataforma de innovación</em></p></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse float-none" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#">Bienvenido Nombre_usuario</a><a href="#" class="login">Salir</a></span></div>
    </div>
    </nav>
    </div>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h2 class="text-center">{{titulo}}</h2>
                        <p class="text-center"><span class="by">Publicado por&nbsp;<a href="#">Nombre_usuario</a></span><span class="by">&nbsp;en reto&nbsp;<a href="#">Reto#1 Como pasar el ramo</a></span><span class="by"></span><a href="#"></a> <span class="date">Jueves 23 de agosto, 2018</span></p>
                    </div>
                    <h5>Resumen idea</h5>
                    <div class="text">
                        <p>{{resumen}}</p>
                        <h5>Idea</h5>
                        <p>{{contenido}}</p>
                        <figure></figure>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Nueva versión de tu idea</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                <div class="modal-body">
                                    <div class="form-group"><label>Título:</label><input type="text" class="form-control" value="Una idea innovadora" /></div><label>Resumen de la idea:</label><textarea class="form-control">Sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</textarea><label>Idea:</label><textarea class="form-control">Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dict vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</textarea></div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button" style="background-color:rgb(6,153,215);">Guardar</button></div>
                            </div>
                        </div>
                    </div><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal1">Nueva versión</button><label>(Sólo disponible para el propietario de la idea)</label>
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">Comentarios</h6>
                        </div>
                        <div class="card-body" style="overflow:auto; height: 30%;">
                            <ul class="list-group">
                                <li class="list-group-item" style="margin-bottom:6px;">
                                    <div class="media">
                                        <div></div>
                                        <div class="media-body">
                                            <div class="media" style="overflow:visible;">
                                                <div><img src="assets/img/user-photo4.jpg" class="mr-3" style="width: 25px; height:25px;"></div>
                                                <div class="media-body" style="overflow:visible;">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p><a href="#">Foo_Bar:</a>&nbsp;No me parece apropiado<br>
<small class="text-muted">6 de Agosto, 2018 @ 10:35am </small></p><button class="btn btn-light btn-sm"
                                                                type="button" style="margin: 0; background-color: lightgray;">Responder</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" style="margin-bottom:6px;">
                                    <div class="media">
                                        <div></div>
                                        <div class="media-body">
                                            <div class="media" style="overflow:visible;">
                                                <div><img src="assets/img/user-photo4.jpg" class="mr-3" style="width: 25px; height:25px;"></div>
                                                <div class="media-body" style="overflow:visible;">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p><a href="#">Usuario123:</a>&nbsp;Totalmente de acuerdo. <br>
<small class="text-muted">8 de Agosto, 2019 @ 10:35am </small></p><button class="btn btn-light btn-sm"
                                                                type="button" style="margin: 0; background-color: lightgray">Responder</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul><label>Escribe un comentario:&nbsp;</label><textarea class="form-control"></textarea><button class="btn btn-light" type="button" style="margin-left:0; background-color: #639eff; color: white;">Comentar</button></div>
                    </div>
                    <div></div>
                    <div class="modal fade" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Modal Title</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                <div class="modal-body">
                                    <p>The content of your modal.</p>
                                </div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-clean" style="color:rgb(6,6,6);background-color:#cccccc;">
        <footer style="color:rgb(0,0,0);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Innovación</a></li>
                            <li><a href="#">Desarrollo de aplicaciones</a></li>
                            <li><a href="#">Integración</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Sobre Alaya</h3>
                        <ul>
                            <li><a href="#">Casos de éxito</a></li>
                            <li><a href="#">Certificaciones</a></li>
                            <li>Alianzas</li>
                            <li><a href="#">Certificaciones</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Contacto</h3>
                        <ul>
                            <li><a href="#">Trabaja con nosotros</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a>
                        <p class="copyright">Alaya Digital Solutions© 2018</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
