<div class="media">
  <div class="media-body">
    <div class="media" style="overflow:visible;">
      <div><img src="assets/img/user-photo4.jpg" class="mr-3" style="width: 25px; height:25px;"></div>
      <div class="media-body" style="overflow:visible;">
        <div class="row">
          <div class="col-md-12">
            <p><a href="#"><strong>{{autor}}:</strong></a>&nbsp;{{comentario}}<br>
              <small class="text-muted">Comentado en: {{fecha}} </small></p><button class="btn btn-light btn-sm"
                                                                                        type="button" style="margin: 0; background-color: lightgray;">Responder</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
